---
import { type FragmentOf, readFragment } from '~/lib/datocms/graphql';
import { ImageTextBlockFragment } from './fragments';
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { Wrapper } from '~/components/Wrapper';

interface Props {
  block: FragmentOf<typeof ImageTextBlockFragment>;
}

const { block } = Astro.props;
//console.log(block);

// Read unmasked block from fragment
const unmaskedBlock = readFragment(ImageTextBlockFragment, block);
---

<Wrapper as="section" class="section grid">
  <div class="image">
    <ResponsiveImage data={unmaskedBlock.image.responsiveImage} />
  </div>
  <div set:html={unmaskedBlock.text} class="text" />
</Wrapper>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    position: relative;
  }

  .image {
    position: relative;
    min-width: 300px;
    display: block;
  }
  .text {
    flex: 2 1 auto;
    position: relative;
    display: block;
    :global(p) {
      color: var(--color-white);
    }
  }
  @media screen and (max-width: 890px) {
    .image {
      min-width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .image {
      width: 100%;
    }
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
