---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import Footer from '~/components/Footer/Footer.astro';
import { BaseLayout } from '../BaseLayout';
import { Navigation } from '~/components/Navigation';
import { Image } from 'astro:assets';
import logo from '../../img/logo_lesondupapier.png';
import { Subheader } from '~/components/Subheader';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
  backgroundColor: string;
};

const { additionalSeo = [], backgroundColor } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<BaseLayout
  seo={[...result._site.faviconMetaTags, ...additionalSeo]}
  backgroundColor={backgroundColor}
>
  <Subheader />
  
  <div class="header headroom">
    <a href="/" title="Page d'accueil"><Image src={logo} alt="" class="brandlogo" /></a>
    <Navigation />
  </div>


  <!-- <Navbar data={navbarData} />-->
  <div transition:animate="fade">
    <slot />
  </div>
  <DraftModeToggler />
  <Footer />
</BaseLayout>
