---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import Footer from '~/components/Footer/Footer.astro';
import { BaseLayout } from '../BaseLayout';
import { Icon } from 'astro-icon/components';
import { Subheader } from '~/components/Subheader';
import { Header } from '~/components/Header';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
  backgroundColor: string;
};

const { additionalSeo = [], backgroundColor } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<BaseLayout
  seo={[...result._site.faviconMetaTags, ...additionalSeo]}
  backgroundColor={backgroundColor}
>
  <Subheader />
  <Header />
  <div transition:animate="fade" id="site">
    <Icon name="oiseau" class="background-svg" />
    <slot />
  </div>
{/*  <DraftModeToggler />*/} 
  <Footer />
</BaseLayout>

<style>
  .background-svg {
    position: absolute;
    top: 30%;
    left: 2%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  [data-icon='oiseau'] {
    font-size: 12rem;
    color: white;
  }
</style>
