---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import  Footer  from '~/components/Footer/Footer.astro';
import { BaseLayout } from '../BaseLayout';
//import  Navigation  from '~/components/Navigation/Navigation.astro';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---
<BaseLayout seo={[...result._site.faviconMetaTags, ...additionalSeo]}>
 
 <DraftModeToggler /> <!-- <Navbar data={navbarData} />-->
  <div transition:animate="fade">
    <slot />
  </div>
  <Footer />


</BaseLayout>
<!--
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/datocms/nextjs-starter-kit/src/app/global.css"
    />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body>
    <header>
      <h1>LE SON DU PAPIER</h1>
      <nav>
        <a class="navlink" href="https://www.datocms.com/docs/astro"> 📚 Doc astro datocms </a>
        <DraftModeToggler />
      </nav>
    </header>

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
 -->