---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import Footer from '~/components/Footer/Footer.astro';
import { BaseLayout } from '../BaseLayout';
import { Navigation } from '~/components/Navigation';
import { Wrapper } from '~/components/Wrapper';
import { Image } from 'astro:assets';
import logo from '../../img/logo_lesondupapier.png';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
  backgroundColor: string;
};

const { additionalSeo = [], backgroundColor } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });


--- 

<BaseLayout seo={[...result._site.faviconMetaTags, ...additionalSeo]} backgroundColor={backgroundColor}>
  <div class="subheader">réseaux sociaux</div>
  <div class="header">
    <a href="./" title="Page d'accueil"><Image src={logo} alt="" class="brandlogo" /></a>
    <Navigation />
  </div>

  <DraftModeToggler />
  <!-- <Navbar data={navbarData} />-->
  <div transition:animate="fade">
    <slot />
  </div>
  <Footer />
</BaseLayout>

<!--
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/datocms/nextjs-starter-kit/src/app/global.css"
    />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body>
    <header>
      <h1>LE SON DU PAPIER</h1>
      <nav>
        <a class="navlink" href="https://www.datocms.com/docs/astro"> 📚 Doc astro datocms </a>
        <DraftModeToggler />
      </nav>
    </header>

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
 -->
