---
import { Wrapper } from '~/components/Wrapper';
---

<Wrapper>
  <nav>
    <ul>
      <li><a href="/spectacles/">Spectacles</a></li>
      <li><a href="/agenda/">Agenda</a></li>
      <li><a href="/compagnie/">La compagnie</a></li>
      <li><a href="/ateliers/">Ateliers</a></li>
      <li><a href="/contacts/">Contacts</a></li>
    </ul>
  </nav>
</Wrapper>

<style>
  ul {
    display: flex;
    gap: rfs(16px);
    justify-content: center;
    list-style: none;
    wrap:flex-wrap;
  }
  li {
    padding: rfs(16px);
  }
  a,
  a:hover {
    font-family: var(--font-headline);
    font-size: rfs(24px);
    color: var(--color-darkblue);
    text-decoration: none;
  }

  @media screen and (max-width: 600px) {
    /* BREAKPOOINT MENU MOBILE*/

  }
</style>
