---
import { graphql } from '~/lib/datocms/graphql';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { Wrapper } from '~/components/Wrapper';
import Hamburger from '../Hamburger.astro';

const query = graphql(/* GraphQL */ `
  query NavigationQuery {
    allNavigations(orderBy: position_ASC) {
      items {
        title
        slug
        position
      }
    }
  }
`);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { allNavigations } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!allNavigations) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}

// the `pathname` is sth like - "/agenda"
const { pathname } = Astro.url;
const pathSlug = pathname.replace(/\/$/, '').slice(1);
---

<Wrapper>
  <nav>
    <ul>
      {
        allNavigations.map((item) => (
          <li>
            <a
              href={'/' + item.items.slug + '/'}
              title={item.items.title}
              class:list={'link--metis'}
              aria-current={pathSlug === item.items.slug ? 'page' : 'false'}
            >
              {item.items.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Hamburger />
</Wrapper>

<style>
  ul {
    display: flex;
    gap: rfs(16px);
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
  }
  li {
    padding: rfs(16px);
  }
  a,
  a:hover {
    font-family: var(--font-headline);
    font-size: rfs(24px);
    color: var(--color-darkblue);
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    text-transform: lowercase;
  }

  a[aria-current='page']::before {
    /* the styles for the active nav item */
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  .link--metis::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background: var(--color-yellow);
    top: 100%;
    left: 10%;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  .link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  nav {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
</style>
