---
import { graphql } from '~/lib/datocms/graphql';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { Wrapper } from '~/components/Wrapper';
import Hamburger from '../Hamburger.astro';


const query = graphql(
  /* GraphQL */ `
    query NavigationQuery {
       allNavigations(orderBy: position_DESC) {
          items {
            title
            slug
            position
          }
        }
    }
  `
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { allNavigations } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!allNavigations) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}

---

<Wrapper>
  <nav>
    <ul>
      {allNavigations.map( (item) => 
      <li><a href={'/'+item.items?.slug+'/'} title={item.items?.title}>{item.items?.title}</a></li>
     )} 
    </ul>
  </nav>
  <Hamburger/>
</Wrapper>

<style>
  ul {
    display: flex;
    gap: rfs(16px);
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
  }
  li {
    padding: rfs(16px);
  }
  a,
  a:hover {
    font-family: var(--font-headline);
    font-size: rfs(24px);
    color: var(--color-darkblue);
    text-decoration: none;
  }

nav { 
  @media screen and (max-width: 768px) {
   display:none;
  }
}
</style>
