---
import {Wrapper} from "~/components/Wrapper";
---

<Wrapper>
    <nav>
        <ul>
            <li><a href="./">Homepage</a></li>
            <li><a href="./spectacles">Spectacles</a></li>
            <li><a href="./agenda">Agenda</a></li>
            <li><a href="./compagnie">La compagnie</a></li>
            <li><a href="./ateliers">Ateliers</a></li>
            <li><a href="./contact"> Contact</a></li>
        </ul>
    </nav>

</Wrapper>

<style>
    ul {
        display: flex;
        gap: 3.2rem;
        justify-content: center;
        list-style:none;
        li {
            padding:16px;
        }
    }
</style>