---

import { Wrapper } from '~/components/Wrapper';
import { Layout } from '~/layouts/Layout';
import { Title } from '~/components/Title';
---

<Layout backgroundColor='var(--color-black)'>
  
 <Wrapper>
    <Title class="h1">Page not found</Title>
    
     <p>La page demandée ne peut être trouvée. Retour à la <a href="/">page d'accueil</a>.</p> 
   </Wrapper>

</Layout>