---
import { graphql } from '~/lib/datocms/graphql';
import { Layout } from '../layouts/Layout';
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';


import { HeadingWithAnchorLink } from '~/components/HeadingWithAnchorLink';

import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';

import { PageInline } from '~/components/inlineRecord/PageInline';
import { PageInlineFragment } from '~/components/inlineRecord/PageInline/fragments';
import { HomepageSectionBlock } from '~/components/blocks/HomepageSectionBlock'
import { HomepageSectionBlockFragment } from '~/components/blocks/HomepageSectionBlock/fragments'
import { PageLink } from '~/components/linkToRecord/PageLink';
import { PageLinkFragment } from '~/components/linkToRecord/PageLink/fragments';

import { Wrapper } from '~/components/Wrapper';
import { Title } from '~/components/Title';

/**
 * The GraphQL query that will be executed for this route to generate the homepage
 * content and metadata.
 *
 * Thanks to gql.tada, the result will be fully typed!
 */
const query = graphql(
  /* GraphQL */ `
    query HomepageQuery {
      homepage {
        _seoMetaTags {
          ...TagFragment
        }
        title
        id
        backgroundColor {
          hex
        }
        _firstPublishedAt
        homepageSections
         {
          
            
              ...HomepageSectionBlockFragment
            
           

         
        }
      }
    }
  `,
  [
    TagFragment,
    HomepageSectionBlockFragment,
    
  ],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { homepage } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!homepage) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout additionalSeo={homepage._seoMetaTags} backgroundColor="var(--color-cream)">
  <Wrapper class="wrapper homepage">
    <p><b>LANDING SCREEN </b></p>
    { homepage.homepageSections.map((item) => 
        <HomepageSectionBlock block={item}/>)
     }
    
  </Wrapper>

  <div>Published at {homepage._firstPublishedAt}</div>

  <DraftModeQueryListener query={query} />
</Layout>
