---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    @media screen and (min-width: 768px) {
      display: none;
    }
    position: fixed;
    top: 8px;
    left: 6px;
    padding: 6px;
    z-index: 15;
    background-color: rgba(179, 62, 102, 0.4);
    background-color: #365fd170;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #365fd123;
    }

    .line {
      display: block;
      width: 26px;
      height: 2px;
      margin-bottom: 8px;
      background-color: var(--color-white);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
