---
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
.hamburger { 
  @media screen and (min-width: 768px) {
   display:none;
  }
}
</style>
