---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Suivez-nous sur <a href={`https://www.${platform}.com/${username}`}>{platform}</a> !</p>
  <p>lien vers pages légales - credits - protection données</p>
  <p>2025 -  Le son du papier</p>
</footer>