---
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import './global.css';


type Props = {
  seo: TitleMetaLinkTag[];
  backgroundColor: string;
};

const { seo, backgroundColor } = Astro.props;

const bgColor = backgroundColor;
---

<!doctype html>
<html lang="fr">
  <head>
    <style id="css-layers" is:inline>
      @layer reset, prose;
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={[...seo]} />
    <slot name="head" />
  
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global define:vars={{ bgColor }}>
  body {
    background-color: var(--bgColor);
  }
</style>
