---
import { Icon } from 'astro-icon/components';
import mongrandlombre from '../Icons/mongrandlombre.svg';
interface Props {
  className?: String;
}
const { className } = Astro.props;
---

<div class="social-icons-list" class:list={[className]}>
  <Icon name="teenyicons:facebook-outline" class:list={[className]} />
  <Icon name="teenyicons:youtube-outline" />
  <a href="https://www.mongrandlombre.com/" title="Mon grand l'ombre" target="_blank"><Icon
    name="mongrandlombre"
  /></a>
</div>

<style>
  .social-icons-list {
    display: flex;
    align-items: center;
    height: 100%;

    &.socials_footer {
      color: #454040;
      font-size: 40px;
      gap: 32px;
    }
    &.socials_subheader {
      font-size: 24px;
      color: white;
      gap: 16px;
    }
  }

  /*
[data-icon] {

    
}*/

  .socials_footer {
  }
</style>
