---
import { graphql } from '~/lib/datocms/graphql';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { Wrapper } from '~/components/Wrapper';
import Hamburger from '../Hamburger.astro';

const query = graphql(/* GraphQL */ `
  query NavigationQuery {
    allNavigations(orderBy: position_ASC) {
      items {
        title
        backgroundColor {
          hex
        }
        slug
        position
      }
    }
  }
`);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { allNavigations } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!allNavigations) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}

// the `pathname` is sth like - "/agenda"
const { pathname } = Astro.url;
const pathSlug = pathname.replace(/\/$/, '').slice(1);
---

<nav class="mobile_nav">
  <ul>
    {
      allNavigations.map((item) => (
        <li>
          <a
            href={'/' + item.items.slug + '/'}
            title={item.items.title}
            class:list={'link--metis'}
            aria-current={pathSlug === item.items.slug ? 'page' : 'false'}
          >
            {item.items.title}
          </a>
        </li>
      ))
    }
  </ul>

  <button class="btn_close">Fermer</button>
</nav>
<div class="overlay"/>
<style>
    nav {display:none;}
  ul {
    display: flex;
    gap: rfs(16px);
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
  }
  li {
    padding: rfs(16px);
  }
  a,
  a:hover {
    font-family: var(--font-headline);
    font-size: rfs(24px);
    color: var(--color-darkblue);
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    text-transform: lowercase;
  }

  a[aria-current='page']::before {
    /* the styles for the active nav item */
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  .link--metis::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background: var(--color-yellow);
    top: 100%;
    left: 10%;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  .link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  nav.mobile_nav {
    .btn_close {
      display: none;
      position: fixed;
      top: 10px;
      right: 10px;
    }

    /* nav responsive ci dessous pour mobile */
    @media screen and (max-width: 768px) {
        display:block;
      position: absolute;
      z-index: 12;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      overflow: hidden;
      height: 0;
      transition: width 0.07s ease-in;
      ul {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        a,
        a:hover {
          color: var(--color-white);
        }
      }

      .btn_close {
        display: none;
      }

      &.expanded {
        width: 250px;
        height: 100%;
        background-color: var(--color-turquoise);
        position:fixed;
        transition: width 0.2s ease-in-out;
      }
    }
  }

  html.menu_open .overlay {
    display: none;
    position: fixed;
    background-color: rgba(17, 17, 17, 0.516);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
</style>
<style is:global>
  html.menu_open {
    overflow: hidden;
  }
</style>

